<html>
<head></head>
<body data-gr-c-s-loaded="true"><h1>ADD Sticker Group</h1>
<form method="POST" action="add">
    <div class="form-group"><label>Name:</label><input type="text" placeholder="first and last" name="name">
        <button type="submit">Add</button>
    </div>
</form>
</body>
</html>
